/* Form */
.register_pawn_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register_pawn_form form {
    width: 70%;
}

.register_pawn_form h2 {
    text-align: center;
}

.input_box {
    position: relative;
    margin-bottom: 15px;
}

.input_box input,
.select_box select {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #AAAAAA;
}

.input_box input:focus,
.select_box select:focus {
    border-color: #7D2AE8;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box input[readonly] {
    cursor: not-allowed;
}

.input_box i.input_user_id,
.input_box i.fullname,
.input_box i.phone,
.input_box i.address,
.input_box i.user_type,
.input_box i.price,
.input_box i.interest_rate,
.input_box i.time,
.input_box i.warehouse {
    left: 0;
    color: #707070;
}

.input_box input:focus~i.input_user_id,
.input_box input:focus~i.fullname,
.input_box input:focus~i.phone,
.input_box input:focus~i.address,
.input_box input:focus~i.user_type,
.input_box input:focus~i.price,
.input_box input:focus~i.interest_rate,
.input_box input:focus~i.time,
.input_box input:focus~i.warehouse {
    color: #7D2AE8;
}

.select_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_box select {
    width: 100%;
    padding: 0 25px;
    margin-top: 25px;
}

.select_box select option[disabled] {
    color: #999;
}

.select_box select option:checked {
    font-weight: bold;
}

.register_pawn_form .button {
    background: #7D2AE8;
    color: #F5F5F5;
    margin: 15px 0 30px 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.inline-buttons {
    display: flex;
    justify-content: space-between;
}

.upload_image {
    padding: 0 30px;
}

.upload_image label,
.upload_image input {
    display: inline-block;
    vertical-align: middle;
    padding-top: 35px;
    color: #707070;
}

.print-button-container {
    text-align: right;
    width: 80%;
    margin-top: 20px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .dialog-content {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .dialog-overlay.hidden {
    display: none;
  }

  .close-preview-button{
    float: right;
    border: none;
    background: none;
  }

  .span_box {
    width: 100%;
    display: flex;
    align-items: center; 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .span_box i {
    margin-right: 10px;
  }

  @media print {
    .dialog-content {
        border-radius: 0px;
        box-shadow: none;
    }

    .print-button-container, .close-preview-button, .logo, .navbar-header, .login, .register_pawn_form, .section-p1{
        display: none;
    }
  }
