/* Form */
.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_form form {
    width: 70%;
}

.search_form h2,
.search_form #error_message {
    text-align: center;
}

.input_box {
    position: relative;
    margin-bottom: 15px;
}

.input_box input,
.select_box select {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #AAAAAA;
}

.input_box input:focus,
.select_box select:focus {
    border-color: #7D2AE8;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box input[readonly] {
    cursor: not-allowed;
}

.input_box i.input_user_id,
.input_box i.product,
.input_box i.time,
.input_box i.warehouse {
    left: 0;
    color: #707070;
}

.input_box input:focus~i.input_user_id,
.input_box input:focus~i.product,
.input_box input:focus~i.time,
.input_box input:focus~i.warehouse {
    color: #7D2AE8;
}

.select_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_box select {
    width: 100%;
    padding: 0 25px;
    margin-top: 25px;
}

.select_box select option[disabled] {
    color: #999;
}

.select_box select option:checked {
    font-weight: bold;
}

/* Table */
.search_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.actions {
    white-space: nowrap;
}

.print-button-container {
    text-align: right;
    width: 80%;
    margin-top: 20px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .dialog-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .dialog-overlay.hidden {
    display: none;
  }

  .preview-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .close-preview-button{
    float: right;
    border: none;
    background: none;
  }
